<h1>Your to-do list, sir</h1>

<%= link_to "Add List", new_list_path %> 
<header>
  <table>
    <thead>
      <tr>
        <th>List of To-Do</th>
      </tr>
    </thead>
  </table>
</header>

<tbody>
 
  </form>
</tbody>
</div>